body {
  color: black;
}
/* .microphone-icon{
  width: 50px;
} */
/* .mini-microphone-icon{
  
} */


/* #microphone,.mini-microphone{
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
} */